*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#9aa1ff,#495b76);
    color: #fff;
    padding-left: 10%;
    padding-top: 4%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size:35px;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 25px;
    margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#8767b5,#5a2d91);
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width:500px;
    min-height:150px;
    background: #fff;
    color: black;
    font-size: 20px;
    outline: none;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}
.input-box img{
    height: 20px;
    width: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}